/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-size: 0;
}
#logo{
    min-height: 130px;
    width: 260px;
    background-color: #B97A57;
    display: inline-block;
    margin: 0px 30px 30px 0px;
}
#wrapper{
    width: 940px;
    background-color: #FFD9B7;
    margin: 0px auto;
    padding: 30px;
}
#navigation{
    min-height: 130px;
    width: 650px;
    background-color: #FF7F27;
    display: inline-block;
    margin-bottom: 30px;
}
#main_content{
    min-height: 250px;
    width: 880px;
    background-color: #880015;
    margin-bottom: 30px;
    padding: 30px;
}
#about{
    min-height: 250px;
    width: 695px;
    background-color: #FFAEC9;
    display: inline-block;
    margin-right: 30px;
}
#advertisement{
    min-height: 200px;
    width: 155px;
    background-color: #C8BFE7;
    display: inline-block;
    vertical-align: top;
}
.sponsors{
    min-height: 65px;
    width: 310px;
    background-color: #FFFF88;
    display: inline-block;
}
.between{
    margin: 0px 5px
}

@media only screen and (max-width: 480px) {
    #wrapper, #logo, #navigation, .sponsors{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #main_content{
        width: 90%;
        padding: 5%;
        margin: 0 0 2% 0;
    }
    #about{
        width: 100%;
        margin: 0;
    }
    #advertisement{
        width: 0%;
        height: 0%;
    }
    .sponsors{
        margin: 5px 0px;
    }

}
@media only screen and (min-width: 481px) {
    #wrapper{
        width: 100%;
        padding: 0%;
        display: inline-block;
    }
    #logo{
        width: 30%;
        margin: 0% 4% 4% 0%;
    }
    #navigation{
        width: 66%;
        margin: 0% 0% 4% 0%;
    }
    #main_content{
        width: 90%;
        padding: 5%;
        margin: 0% 0% 4% 0%;
    }
    #about{
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    #advertisement{
        width: 0%;
        height: 0%;
    }
    .sponsors{
        margin: 0;
        width: 49%;
    }
    .first{
        margin: 0% 2% 2% 0%;
    }
    .between{
        margin: 0% 0% 2% 0%;
    }
    .last{
        margin: 0% 0% 2% 0%;
    }
}
@media only screen and (min-width: 1024px) {
    #wrapper{
        width: 92%;
        margin: 0%;
        padding: 4%;
    }
    #logo{
        width: 30%;
        margin: 0% 4% 4% 0%;
        padding: 0;
    }
    #navigation{
        width: 66%;
        margin: 0% 0% 4% 0%;
    }
    #main_content{
        width: 90%;
        padding: 5%;
        margin: 0% 0% 4% 0%;
    }
    #about{
        width: 65%;
        margin: 0% 5% 0% 0%;
    }
    #advertisement{
        width: 30%;
    }
    .sponsors{
        width: 32%;
    }
    .first{
        margin: 0% 0% 2% 0%;
    }
    .between{
        margin: 0% 2% 2%; 
    }
}